@import "../../global.scss";
@import "../../mixins.scss";

main {
  background-color: $geyser;
  height: fit-content;
  flex-grow: 1;
}

.title-col {
  font-size: 5rem;
  color: $mine-shaft;
  padding-top: 10rem;
  padding-bottom: 5rem;
  font-style: italic;
  @include media("<phone") {
    font-size: 4rem;
    padding-top: 6rem;
    display: table;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
  }
}

.title-col span {
  font-size: 1.8rem;
  color: $mine-shaft;
  display: table;
  margin: 0 auto;
  font-style: normal;
}

.row-container {
  height: fit-content;
  @include media("<phone") {
  }
}

.column-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 3rem;
  @include media("<phone") {
  }
}

.second-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100rem;
  position: relative;
  @include media("<phone") {
    height: 100rem;
  }
}

.right,
.left {
  cursor: pointer;
  position: relative;
  @include media("<phone") {
    height: 100vh;
  }
}

.link {
  text-decoration: none;
}

.link-to-lyrics {
  background-color: $retro;
  color: $mine-shaft;
  width: 100%;
  border: 2px solid $mine-shaft;
  margin: auto;
  height: 8rem;
  text-align: center;
  position: relative;
  &:hover {
    background-color: $dark-retro;
    .buy-button-text {
      text-decoration: none;
      color: $geyser;
    }
  }
}

.link-to-lyrics-text {
  font-size: 2rem;
  color: $mine-shaft;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.right {
  @include media("<phone") {
    height: fit-content;
  }
}

.picture-container {
  height: fit-content;
  width: fit-content;
  width: 100%;
  @include media(">phone") {
    max-width: 400px;
  }
}

.cd-picture-image {
  object-fit: contain;
  width: 100%;
  margin: auto;
  @include media(">phone") {
    padding: 3rem;
  }
}

.left-picture-image {
  object-fit: cover;
  width: 100%;
  margin: auto;
  @include media(">phone") {
    padding: 3rem;
    max-width: 400px;
  }
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.buy-button {
  background-color: $retro;
  color: $mine-shaft;
  width: 100%;
  border: 2px solid $mine-shaft;
  margin: auto;
  height: 8rem;
  text-align: center;
  &:hover {
    background-color: $dark-retro;
    .buy-button-text {
      text-decoration: none;
      color: $geyser;
    }
  }
}

.buy-button-text {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: $mine-shaft;
}

.shopping-icon {
  color: $mine-shaft;
  font-size: 3rem;
}

.lyrics-icon {
  font-size: 3rem;
}

.left-column-intro-text {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: $mine-shaft;
}
