@import "../../global.scss";
@import "../../mixins.scss";

main {
  background-color: $geyser;
}

.row-container {
  border-right: 2px solid $mine-shaft;
  border-left: 2px solid $mine-shaft;
  @include media("<phone") {
    flex-direction: column;
  }
}

.right {
  height: 100vh;
  position: relative;
}

.title-col {
  font-size: 2.2rem;
  color: $mine-shaft;
  text-align: center;
  margin: 3rem;
}

.left {
  height: 100vh;
  @include media("<phone") {
    border-top: 2px solid $mine-shaft;
  }
  @include media(">phone") {
    border-left: 2px solid $mine-shaft;
  }
}

.picture-container {
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cd-picture-image {
  object-fit: contain;
  width: 100%;
  margin: auto;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.buy-button {
  background-color: $retro;
  color: $mine-shaft;
  width: 100%;
  border: 2px solid $mine-shaft;
  margin: auto;
  height: 8rem;
  text-align: center;
  &:hover {
    background-color: $dark-retro;
    .buy-button-text {
      text-decoration: none;
      color: $geyser;
    }
  }
}

.buy-button-text {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: $mine-shaft;
}

.shopping-icon {
  color: $mine-shaft;
  font-size: 2rem;
}

.left-column-intro-text {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: $mine-shaft;
}
