@import "../global.scss";
@import "../mixins.scss";

ol {
  padding-left: 0;
}

.lyrics-page-title {
  font-size: 2.5rem;
  color: $mine-shaft;
  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center;
  @include media("<phone") {
    padding-top: 6rem;
    display: table;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
  }
}

.lyrics-list {
  text-align: center;
  padding-bottom: 6rem;
}

.lyrics-list-song {
  border: 2px solid black;
  max-width: 600px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
}

.lyrics-list-song-title {
  font-size: 5rem;
  text-decoration: none;
  color: $retro;
  text-transform: uppercase;
  padding: 3rem auto;
  @include media("<phone") {
    font-size: 3.5rem;
  }
}

.lyrics-list-song-text {
  font-size: 1.6rem;
  text-decoration: none;
  color: $mine-shaft;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
