@import "../../global.scss";

.footer-down {
  background-color: $mine-shaft;
  margin-bottom: 0;
  position: relative;
  height: 15rem;
}

.footer-icons {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-icons-icon {
  border: 1px solid $geyser;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
}
